# STAT GR5243 Project 1
### Group 8 :
Baixuan Chen\
Carrie Yan Yin Fen\
Kevin Ma\
Shuzhi Yang

## Data Cleaning and Handling Inconsistencies

In [1]:
import pandas as pd
import numpy as np

df = pd.read_csv("ibm_jobs.csv")
df.head()

,job_title,job_id,date_posted,state_province,area_of_work,min_salary,max_salary,position_type,required_education,preferred_education,preferred_technical_experience
0,Software Developer Intern 2026: SVL,75759,30-Jan-2026,California,Software Engineering,"90,720.00","166,320.00",Internship,High School Diploma/GED,Bachelor's Degree,"Exposure to cloud platforms (IBM Cloud, AWS, o..."
1,SAP Technology Architect,72352,26-Nov-2025,"Illinois, Texas, Indiana, New Jersey",Software Engineering,"144,000.00","248,000.00",Professional,Bachelor's Degree,NaN,"SAP\nS/4HANA, SAP BTP (CAP, RAP, Event Mesh, I..."
2,"Senior Software Engineer, (Boundary) - HashiCorp",82844,03-Feb-2026,"Texas, Massachusetts, California",Software Engineering,"131,000.00","226,000.00",Professional,High School Diploma/GED,Bachelor's Degree,What's nice to have (preferred qualifications)...
3,DevOps Engineer - AWS,80597,19-Dec-2025,Texas,Infrastructure & Technology,"99,875.00","129,250.00",Professional,Bachelor's Degree,Master's Degree,NaN
4,Federal Senior Compliance Lead - CAS / FAR SME,86235,29-Jan-2026,"Minnesota, New York, Virginia, Maryland, Distr...",Enterprise Operations,"147,000.00","254,000.00",Professional,Bachelor's Degree,Master's Degree,Direct experience with the Defense Contract Au...

#### Convert salary from string to int

In [2]:
for col in ["min_salary", "max_salary"]:
    df[col] = (
        df[col]
        .astype(str)
        .str.replace(",", "", regex=False)
        .replace("nan", np.nan)
        .astype(float)
    )

#### Uniform formatting date posted

In [3]:
df["date_posted"] = pd.to_datetime(df["date_posted"], errors="coerce")

#### Uniform formatting education

In [4]:

edu_cols = ["required_education", "preferred_education"]
for c in edu_cols:
    df[c] = df[c].astype("string").str.strip().str.lower()

edu_map = {
    "high school diploma/ged": "high_school_ged",
    "associate's degree/college diploma": "associate",
    "bachelor's degree": "bachelor",
    "master's degree": "master",
    "doctorate degree": "doctorate",
    "technical diploma": "technical_diploma",
}

for c in edu_cols:
    df[c] = df[c].map(edu_map).fillna("unknown")

#### Drop duplicates

In [5]:
df = df.drop_duplicates().reset_index(drop=True)

#### create mean salary col

In [6]:
df["salary_mid"] = (df["min_salary"] + df["max_salary"]) / 2

#### Handle Missing Values

In [7]:
df.isna().sum()

job_title                          1
job_id                             0
date_posted                        0
state_province                     0
area_of_work                       5
min_salary                         1
max_salary                         1
position_type                      0
required_education                 0
preferred_education                0
preferred_technical_experience    92
salary_mid                         1
dtype: int64

In [8]:
df = df.dropna(subset=["min_salary", "max_salary", "job_title"])
df["preferred_technical_experience"] = (
    df["preferred_technical_experience"].fillna("")
)
df["area_of_work"] = (
    df["area_of_work"].fillna("unknown")
)

#### Cleaned Data Overview

In [9]:
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
Index: 469 entries, 0 to 470
Data columns (total 12 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   job_title                       469 non-null    object
 1   job_id                          469 non-null    int64
 2   date_posted                     469 non-null    datetime64[ns]
 3   state_province                  469 non-null    object
 4   area_of_work                    469 non-null    object
 5   min_salary                      469 non-null    float64
 6   max_salary                      469 non-null    float64
 7   position_type                   469 non-null    object
 8   required_education              469 non-null    object
 9   preferred_education             469 non-null    object
 10  preferred_technical_experience  469 non-null    object
 11  salary_mid                      469 non-null    float64
dtypes: datetime64[ns](1), float64(3), int64(1), object(7)
memory usage: 47.6+ KB

,job_title,job_id,date_posted,state_province,area_of_work,min_salary,max_salary,position_type,required_education,preferred_education,preferred_technical_experience,salary_mid
0,Software Developer Intern 2026: SVL,75759,2026-01-30,California,Software Engineering,90720.0,166320.0,Internship,high_school_ged,bachelor,"Exposure to cloud platforms (IBM Cloud, AWS, o...",128520.0
1,SAP Technology Architect,72352,2025-11-26,"Illinois, Texas, Indiana, New Jersey",Software Engineering,144000.0,248000.0,Professional,bachelor,unknown,"SAP\nS/4HANA, SAP BTP (CAP, RAP, Event Mesh, I...",196000.0
2,"Senior Software Engineer, (Boundary) - HashiCorp",82844,2026-02-03,"Texas, Massachusetts, California",Software Engineering,131000.0,226000.0,Professional,high_school_ged,bachelor,What's nice to have (preferred qualifications)...,178500.0
3,DevOps Engineer - AWS,80597,2025-12-19,Texas,Infrastructure & Technology,99875.0,129250.0,Professional,bachelor,master,,114562.5
4,Federal Senior Compliance Lead - CAS / FAR SME,86235,2026-01-29,"Minnesota, New York, Virginia, Maryland, Distr...",Enterprise Operations,147000.0,254000.0,Professional,bachelor,master,Direct experience with the Defense Contract Au...,200500.0